:root{
    --main : rgb(92, 67, 24);
    --secondary : rgb(129, 177, 75);
    --black : black;
    --bgElem : white;
    --secondaryLight : rgb(185, 214, 152);
    --mainLight : rgba(207, 186, 170,0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 122, 156);
}

body{
    top:0;
    margin: 0;
    background-color: #e6e6e6;
    background-color: var(--main);
}
.transparentButton{
    background-color: transparent;
    border: none;
    color: var(--main); /* Couleur du texte */
    font-size: xx-large; /* Taille du texte */
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
}
.transparentButton:hover{
    color: var(--secondary);
    transform: scale(1.1);
    transition: 0.3s;
}

#wrapper{
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    background: 
    linear-gradient(to bottom, transparent, rgb(92, 67, 24)), /* Dégradé linéaire */
    url('../asset/bg.jpg') no-repeat top center; /* Image de fond */
    background-size:cover; /* Ajustez selon vos besoins */
    margin-top: 3.5rem;
    padding-top: 5rem;
    position: relative;
    background-color: var(--main);
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}



#forum{
    background-color: var(--mainLight);
    margin: 20rem 5rem 3rem;
    border-radius: 12px;
}

/*
======================================================================
PostList
======================================================================
*/
.postContainer{
    display: flex;
    position: relative;
    margin: 1.5% 2.5%;
    border-radius: 10px;
    border: 2px gray solid;
    background-color: rgb(234, 220, 247);
    overflow: hidden;
}

.postContainer form button{
    width: 100%;
}

.postUserInfo{
    display: flex;
    padding: 1% 2%;
    flex-direction: column;
    border-right: 2px gray solid;
    background-color: rgb(215, 181, 247);
    justify-content: center;
    align-items: center;
}

.menuButtonUser{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

#menuPostList{
    display: flex;
    justify-content: space-between;
    padding: 1% 1%;
    margin-top: 9vh;
}

.postMessage{
    padding-left: 0.2%;
    width: 100%;
    height: 100%;
    
}
form.postMessage{
    padding-left: 0;
}

#editMenuButton{
    display: flex;
    width: 100%;
}

.tox-edit-area__iframe {
    background-color: rgb(234, 220, 247);
    color: #333 !important;
}


/*
======================================================================
Navbar
======================================================================
*/

header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}

.navbar-dark{
    background-color: var(--black) !important;
}

.navbar-brand{
    color: white;
    transition: 0.3s;
}
.navbar-brand:hover{
    color: var(--secondary);
    transition: 0.3s;
}

.nav-link {
    color: white;
    position: relative;
}
.nav-link:hover{
    color: var(--secondary);
    transition: 0.3s;
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.navbar-nav{
    margin-left: 5%;
}

.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#navbarNav{
    justify-content: end;
}

/*
======================================================================
Footer
======================================================================
*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a,p{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer a:hover{
    color: var(--secondary);
    transition: 0.3s;
}


/*
======================================================================
Table
======================================================================
*/





table a {
    text-decoration: none;
}

table{
    width: 100%;
    overflow: hidden;
}

#tableCategory,#tableTopics{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 2%;
}

thead td {
    background-color: var(--secondary);
    color: var(--bgElem);
    text-align: center;
    border-right:1px lightgrey solid;
}
thead td:last-child{
    border: none;
}

tbody td {
    background-color: var(--bgElem);
    border:1px lightgrey solid;
    border-bottom: 1px black solid;
    text-align: center;
}

tbody tr {
    position: relative;
}

tbody tr:last-child td{
    border-bottom: none;
}


tbody td a {
    color : var(--secondary);
    transition: 0.3s;
}

tbody td a:hover{
    color : var(--secondaryLight);
    transition: 0.3s;
}

tbody td:first-child {
    text-align: justify;
    padding: 1% 3%;
}

tbody td:first-child a{
    color: black;
    transition: 0.3s;
}
tbody td:first-child a:hover{
    color: var(--secondary);
    transition: 0.3s;
}

.titleCategory,.titleTopic{
    font-weight: 700;
    font-size: x-large;
}

/*
======================================================================
Topics List
======================================================================
*/
#menuTopicsList{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
}

.deleteTopic{
    height: 100%;
    text-align: center;
    color: rgb(247, 117, 117);
    font-size: larger;
}
.deleteTopic:hover{
    color: rgb(247, 91, 91);
    transform: scale(1);
}

.addTopic{
    text-decoration: none;
    color: green;
    font-size: xx-large;
    transition: 0.3s;
}

.addTopic:hover{
    color: var(--secondary);
    transition: 0.3s;
}